{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}

{% block content %}
<div class="scrollbar">
    <div id="landing-page" >
        <div id="logo-container">
            <h1>Nonny</h1>
            <span id="subtitle">O seu bloco de notas virtual</span>
        </div>
        <img src="{% static 'assets/LandingIcon.svg' %}" />
        <div id="button-container">
            <a href="#">Criar</a>
            <a href="#">Explorar</a>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}