:root {
  font-size: 80%;

  --bg-color: #ffffff;
  --dark-color: #010101;
  --primary-color: #8b8bae;
  --primary-color-dark: #696983;
  --secondary-color: #48504f;
  --secondary-color-dark: #383f3e;

  --danger-color: #d26b6b;
  --success-color: #6bd294;

  --text-font: "Arvo";
  --logo-font: "Yellowtail";
  --title-font: "Dosis";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none;
  outline: none;
  font-family: var(--text-font), serif;
  text-decoration: none;
  color: var(--secondary-color);
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

/* General */
button {
  transition: filter 0.2s;
}
button.disabled {
  filter: brightness(1.15) saturate(0);
}

/* Tablet or mobile */
@media (max-width: 900px) {
  :root {
    font-size: 85%;
  }
}

/* Desktop or tablet */
@media (min-width: 700px) {
}

@media (min-width: 1600px) {
  :root {
    font-size: 120%;
  }
}

@media (min-width: 2400px) {
  :root {
    font-size: 150%;
  }
}
