html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

/* Landing logic */
#landing-page {
  width: 100vw;
  height: 100vh;

  display: grid;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "title image"
    "button image";
}

#landing-page #image-container {
  grid-area: image;
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

#landing-page img {
  height: 100%;
}

#landing-page #logo-container {
  grid-area: title;

  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#landing-page #logo-container h1 {
  font-size: 15rem;
  font-weight: normal;
  color: var(--primary-color);
  margin-bottom: 0.3rem;
  font-family: var(--logo-font);
}

#landing-page #logo-container span {
  display: block;
  font-size: 2.4rem;
  color: var(--secondary-color);
  font-family: var(--text-font);
}

#landing-page #button-container {
  grid-area: button;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#landing-page #button-container a {
  display: inline-block;
  margin: 3rem 2rem 0rem 0rem;
  padding: 0.9rem 3.8rem;
  border-radius: 0.8rem;

  font-size: 2rem;
  font-family: var(--text-font);
  text-align: center;

  background-color: var(--primary-color);
  color: var(--bg-color);
  border: 0.3rem solid var(--primary-color);

  transition: background-color 0.2s, color 0.2s;
}
#landing-page #button-container a:last-child {
  background-color: var(--bg-color);
  color: var(--primary-color);
}
#landing-page #button-container a:hover {
  background-color: var(--bg-color);
  color: var(--primary-color);
}
#landing-page #button-container a:last-child:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}

/* About logic */
#about {
  width: 100vw;

  padding-top: 5rem;

  display: flex;
  align-items: center;
  flex-direction: column;
}
#about h2 {
  margin-bottom: 4rem;
}
#about h2 span {
  color: var(--primary-color);
  font-family: var(--title-font);
}
/* Cards */
#about .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about .card {
  top: 0;
  width: 16rem;
  margin-right: 5rem;
  justify-content: space-between;

  transition: top 0.1s linear, box-shadow 0.1s linear,
    background-color 0.1s linear;
}
#about .card:last-child {
  margin-right: 0rem;
}
#about .card span {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
#about .card .icon {
  display: block;
  font-size: 5rem;

  transition: color 0.1s;
}
#about .card:hover {
  top: -0.6rem;
  box-shadow: 0rem 1.2rem 1rem 0rem rgb(72, 80, 79, 0.4);
  background-color: var(--primary-color);
}
#about .card:hover .icon,
#about .card:hover span {
  color: white !important;
}
/* end cards */
#about h3 {
  font-family: var(--text-font);
  font-size: 1.6rem;
  font-weight: normal;
  margin: 3rem 0rem 6rem 0rem;
  max-width: 50%;
  text-align: center;
}

/* Footer */
footer {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 2rem;
}
footer #contact-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 75%;

  padding: 0.5rem 0rem;
}
footer #contact-list li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  border: 0.2rem solid;
  border-radius: 0.8rem;

  border-color: transparent;
  transition: border-color 0.2s;
}
footer #contact-list li a:hover {
  border-color: white;
}
footer #contact-list li .icon {
  margin-bottom: 1rem;
}
footer #contact-list li span,
footer #contact-list li .icon {
  color: white;
}
footer #contact-list li span {
  font-size: 1.4rem;
}
footer #author {
  text-align: center;
  margin-top: 3rem;
}
footer #author h3 {
  font-family: var(--text-font);
  letter-spacing: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: white;
}
footer #author span {
  font-family: var(--text-font);
  letter-spacing: 0.1rem;
  font-size: 0.8rem;
  color: white;
}

/* MOBILE */
@media (max-width: 700px) {
  /* Landing page */
  #landing-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #landing-page #logo-container {
    top: 0rem;
  }
  #landing-page #logo-container h1 {
    text-align: center;
    font-size: 8rem;
    margin: 0;
  }
  #landing-page #logo-container span {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  #landing-page #image-container {
    justify-content: center;
    position: relative;
    height: 45%;
  }
  #landing-page #button-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 5rem;
  }
  #landing-page #button-container a {
    display: block;
    font-size: 1.3rem;
    border-radius: 0.4rem;
    border-width: 0.2rem;
    margin: 1rem 0 0 0;
    padding: 1rem;
    width: 100%;
    max-width: 25rem;
  }
  #landing-page img {
    position: relative;
  }

  /* About */
  #about h2 {
    font-size: 3rem;
    max-width: 20rem;
    margin-bottom: 1rem;
  }
  #about .card-container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 1.6rem;
  }
  #about .card {
    width: 75%;
    margin: 1rem 0;
    margin-right: 0rem;
    padding: 3rem 1rem;
  }
  #about .card span {
    font-size: 1.2rem;
  }
  #about .card .icon {
    font-size: 4rem;
  }
  #about h3 {
    max-width: 80%;
    font-size: 1.2rem;
  }

  /* Footer */
  footer #contact-list li .icon {
    font-size: 2.5rem;
  }
  footer #contact-list li span {
    display: none;
  }
  footer #author {
    margin-top: 1rem;
  }
  footer #author h3 {
    font-size: 1.2rem;
  }
}
