{% extends 'form_page.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/form_page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}


{% block title %}Login{% endblock %}

{% block page_form %}

<form id="login-form" method="post" action="">
  {% csrf_token %}
  <input class="input" id="username" type="text" name="username" required placeholder="Usuário">
  <input class="input" id="password" type="password" name="password" required placeholder="Senha">
  <button class="submit-button disabled" id="submit" type="submit" >Confirmar</button>
</form>
{% endblock %}

{% block additional %}
<div id="footer-message">
  <span>Você é novo?</span>
  <a href="{% url 'sign_up' %}">Crie uma nova conta</a>
</div>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/login.js' %}"></script>
{% endblock %}