{% extends 'form_page.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/form_page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}" />
{% endblock %}


{% block title %}Cadastro{% endblock %}

{% block form %}
<form id="sign-form" method="post" action="/">
  {% csrf_token %}
  <label class="label" for="username">Nome de usuário</label>
  <input class="input" id="username" type="text" name="username" required >

  <label class="label" for="email">Email</label>
  <input class="input" id="email" type="email" name="email" required >

  <label class="label" for="password">Senha</label>
  <input class="input" id="password" type="password" name="password" required >

  <label class="label" for="confirm-password">Confirmar senha</label>
  <input class="input" id="confirm-password" type="password" name="password" required >
  
  <button class="submit-button disabled" id="submit" type="submit" >Confirmar</button>
</form>
{% endblock %}