{% extends 'form_page.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/form_page.css' %}" />
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}" />
{% endblock %}


{% block title %}Cadastro{% endblock %}

{% block form %}
<form id="sign-form" method="post" action="/">
  {% csrf_token %}
  <label class="label" for="username">Nome de usuário</label>
  <input class="input" id="username" type="text" name="username" required >

  <label class="label" for="email">Email</label>
  <input class="input" id="email" type="email" name="email" required >

  <label class="label" for="fake-image">Foto de perfil</label>
  <label id="fake-image" for="profile-image">
    <i class="fas fa-upload icon"></i>

  </label>
  <input id="profile-image" type="file" name="image" accept="image/*" hidden>

  <label class="label" for="password">Senha</label>
  <div class="password-row">
    <input class="input" id="password" type="password" name="password" required >
    <button id="see-password" type="button">
      <i class="fas fa-eye icon"></i>
    </button>
  </div>

  <label class="label" for="confirm-password">Confirmar senha</label>
  <div class="password-row">
    <input class="input" id="confirm-password" type="password" name="password" required >
    <button id="see-confirm-password" type="button">
      <i class="fas fa-eye icon"></i>
    </button>
  </div>
  
  <button class="submit-button disabled" id="submit" type="submit" >Confirmar</button>
</form>
{% endblock %}

{% block scripts %}
  <script src="{% static 'js/sign_up.js' %}"></script>
{% endblock %}